<div class="form-group">
    <label class="form-control-label">Nome do Produto:</label>
    <input type="text" class="form-control" value="{{produto.nome}}" disabled>
</div>

<div class="form-group">
    <label class="form-control-label">Preço: </label>
    <input type="text" class="form-control" value="{{produto.preco}}" disabled>
</div>

<!-- <div class="form-group">
    <label class="form-control-label">Descrição</label>
    <input type="text" class="form-control" value="{{produto.descricao}}" disabled>
</div>

<div class="form-group">
    <label>Categoria:</label>
    <input type="text" class="form-control" value="{{produto.categoria.nome}}" disabled>
</div> -->

<div class="pull-right">
    <button routerLink="/produto" class="btn btn-default">Voltar</button>
</div>